h1{
    color:red;
    font-size:35;
}

h2{
    color:orchid;
    font-size:22px;
}

#explainpara{
    font-size:16px;
}

#mainPageTitle{
    font-size: 30px;
    color:orchid
}

#mainPageBody{
    background-color:paleturquoise;
    background-size:auto;
}

#dinnerTitle{
    color:darkolivegreen;
}

#dinnerBody{
    background-color:paleturquoise;
    color:green;
    background-size:auto
}

#lunchBody{
    background-color:paleturquoise;
    color:salmon;
    background-size:auto
}

#breakfastTitle{
    color:blue;
}

#hubLink{
    font-size:20px;
    color:fuchsia
}

#hubLink:hover{
    color:blue;
    text-decoration:underline;
}

#lunchMain{
    font-size:25px;
    color:darkred
}

#lunchSides{
    font-size:25px;
    color:indianred
}

#lunchDrinks{
    font-size:25px;
    color:lightcoral
}

#dinnerExplain{
    font-size:20px;
    color:darkolivegreen
}

#dinnerMain{
    font-size:25px;
    color:darkgreen
}

#dinnerSide{
    font-size:25px;
    color:green
}

#dinnerDrink{
    font-size:25px;
    color:limegreen
}