h1{
    color:red;
    font-size:35;
}

h2{
    color:blue;
    font-size:22px;
}

#explainpara{
    font-size:16px;
}

#dinnerTitle{
    color:darkolivegreen;
}

#lunchTitle{
    color:green;
}

#breakfastTitle{
    color:blue;
}

#hubLink{
    font-size:20px;
    color:fuchsia
}

#lunchMain{
    font-size:25px;
    color:darkred
}

#lunchSides{
    font-size:25px;
    color:indianred
}

#lunchDrinks{
    font-size:25px;
    color:lightcoral
}

#dinnerExplain{
    font-size:20px;
    color:darkolivegreen
}

#dinnerMain{
    font-size:25px;
    color:darkgreen
}

#dinnerSide{
    font-size:25px;
    color:green
}

#dinnerDrink{
    font-size:25px;
    color:limegreen
}