h1{
    color:red;
    font-size:35;
}

h2{
    color:blue;
    font-size:22px;
}

#explainpara{
    font-size:16px;
}

#dinnerTitle{
    color:purple;
}

#lunchTitle{
    color:green;
}

#breakfastTitle{
    color:blue;
}

#hubLink{
    font-size:20px;
    color:fuchsia
}